
.current-index textarea {
    background-color: white;
}
.current-index .name-textfield {
    background-color: white;
}
.current-index .initiative-textfield {
    background-color: white;
}
.current-index .hitpoints-textfield {
    background-color: white;
}
.current-index .armor-class-textfield {
    background-color: white;
}


.initiative-textfield, .armor-class-textfield, .hitpoints-textfield {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    background-color: #f8f9fa;
}

input.hitpoints-textfield {
    width: 70px;

}

.name-textfield {
    width: 200px;
}


.name-textfield {
    height: 40px;
    border-radius: 20px;
    padding: 15px;
    border: 0;
    background-color: #f8f9fa;
    width: 100%;
}

textarea {
    padding: 15px;
    border: 0;
    border-radius: 20px;
    width: 100%;
    background-color: #f8f9fa;
}

.initiative-list-row {
    padding: 10px 0;
}

.action-button {
    margin: 0 2px;
}

.action-button-container {
    text-align: right;
}