.App {
  min-height: 100vh;
  text-align: center;
}

.App-intro {
  font-size: large;
}

main {
  min-height: calc(100vh - 2.5rem - 5rem);
}

footer {
  min-height: 2.5em;
}

footer .col {
  min-height: 2.5em;
  line-height: 2.5em;
}

footer a {
  color: white;
  text-decoration: underline;
}

header {
  height: 5rem;
  background-color: #222;
  color: white;
}

.App-title {
  line-height: 5rem;
  vertical-align: middle;
  font-size: 1.5em;
  text-transform: uppercase;
}

.app-section {
  padding: 10px 0;
}