body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clear-button {
  color: #000;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.clear-button:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
  cursor: pointer;
}
